APP_DATABASE_URL=postgres://whiteboard_app:changeme@localhost:5432/whiteboard_test
SIGNUP_DATABASE_URL=postgres://whiteboard_signup:changeme@localhost:5432/whiteboard_test
PUBLIC_DATABASE_URL=postgres://whiteboard_public:changeme@localhost:5432/whiteboard_test
DATABASE_URL=postgres://whiteboard:changeme@localhost:5432/whiteboard_test
AUTH_DATABASE_URL=postgres://whiteboard_auth:changeme@localhost:5432/whiteboard_test